<h1>New restaurant</h1>
<%= simple_form_for(@restaurant) do |f| %>
  <%= f.input :name %>
  <%= f.input :address %>
  <%= f.input :phone_number %>
  <%= f.input :category, label: "Category (chinese, italian, japanese, french, or belgian)"%>
  <%= f.submit class: "btn btn-primary"%>
<% end %>
